<% include ./head %>
<body>
	<div class="row">
		<div class="small-12 columns">
			<h2>Student Submission:</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<span class="label">Student:</span> <span><%= last_name %>, <%= first_name %> <%= middle_name %></span>
		</div>
		<div class="small-2 columns">
			<span class="label">DOB:</span> <span><%= dob %></span>
		</div>
		<div class="small-2 columns">
			<span class="label">Gender:</span> <span><%= gender %></span>
		</div>
		<div class="small-1 columns end">
			<span class="label">Grade:</span> <span><%= grade_level %></span>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="small-6 columns">
			<span class="label">Address:</span> <span><%= studentStreet %> <%= studentCity %>, <%= studentState %> <%= studentZip %></span>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h2>Submission successful.</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h2>Please contact the Registrar @ 231-348-2100 to schedule a time to come in and finish the registration process</h2>
		</div>
	</div>
</body>