<!DOCTYPE html>
<!--
  AUTHOR:   hbates@northmen.org
-->
<html lang="en">
	<head>
		<title><%= title %> Results</title>
		<link rel='stylesheet' href='/public/stylesheets/style.css' />
	</head>
	<body>
		<h1>Results:</h1>
		<h2>Student:</h2> <span><%= lastName%>, <%= firstName %> <%= middleName%></span>
		<h2>DOB</h2> <span><%= dob %></span> <h2>Gender:</h2><span><%= gender %></span>
	</body>
</html>